#thx_1138 {
  z-index: 1000; 
  padding: 30px; 
  font-size: 1.42em; 
  border-radius: 42px;
  text-align: center; 
  font-weight: bold;

  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(255,255,255,0.75); 
  color: #0c2727; 
}
